#production {
    background:  var(--main-bgcolor);
    padding: 60px 0 40px 0;
}
#production .container {
    padding-left: 0;
    padding-right: 0;
    max-width: 960px;
}
.production-text__goods {
    padding-bottom: calc(var(--base-size-xl) * 2 - 2px); /*30px;*/
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 700;
    color: #313131;
    position: relative;
}
.production-text__goods::after {
    content: url(./main/wavy_line.png);
    position: absolute;
    top: calc(var(--base-size-xl) + 4px); /*20px;*/
    left: calc(50% - 23px);
}
.production-wraper {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: calc(var(--base-size-m) + 2px); /*10px;*/
}
.production-card {
    flex-basis: calc(50% - 40px);  /* можно было задать через width: 440px; */
    margin-bottom: calc(var(--base-size-xl) * 2 + 3px); /*35px;*/
}
.production-card__img {
    width: 100%;
    height: 300px;
}
.production-card__text {
    margin-bottom:calc(var(--base-size-l) * 2 + 1px); /*25px;*/
    font-size: 20px;
    font-weight: 500;
    color: #313131;
    text-align: center;
}
.production-card__button {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.production-button {
    padding: 14px 24px; /*размеры кнопки максимально приближены к размерам кноки сайта Добрый картон*/
    margin-right: var(--base-size-l); /*12px;*/
    background: var(--main-bgcolor);
    border: 1px solid #9b9b9b; /*цвет бордера заимствован с сайта добрый картон*/
    outline: none;
    cursor: pointer;
    border-radius: var(--main-border-radius);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--main-text-color);
}
.production-button:hover {
    background: #f4f4f4;
}
.production-button:focus {
    background: #f4f4f49c;
}
.button-o {
    padding: calc(var(--base-size-xl) - 1px) calc(var(--base-size-xl) * 2 - 5px); /*15px 64px; размеры кнопки максимально приближены к размерам кноки сайта Добрый картон*/
    background: var(--button-bgcolor);
    border: none;
    color: var(--main-title-text-color);
    margin-right: 0;
}
.button-o:hover {
    background: var(--button-bgcolor-hover);
}
.button-o:focus {
    background: var(--button-bgcolor-pressed);
}

/* НАЧАЛО БЛОКА МЕДИАЗАПРОСОВ .PRODUCTION*/

@media screen and (min-width: 790px) and (max-width: 960.98px) {
    #production {
        padding: 60px 0 30px 0;
    }
    .production-card {
        flex-basis: calc(50% - 20px);
        margin-bottom: calc(var(--base-size-xl) * 3 - 3px); /*45px;*/
    }
    .production-card img {
        width: calc(var(--base-size-xl) * 22 + 13px); /*365px;*/
    }
    .production-card__text {
        font-size: 16px;
    }
    .production-button {
        padding: calc(var(--base-size-l) + 2px) calc(var(--base-size-xl) - 2px);  /*14px 30px;*/
    }
    .button-o {
        padding: calc(var(--base-size-xl) - 1px) calc(var(--base-size-xl) * 3 + 2px); /*15px 50px;*/
    }
}

@media screen and (min-width: 768px) and (max-width: 789.98px) {
    #production {
        padding: 60px 0 30px 0;
    }
    .production-card {
        flex-basis: calc(50% - 10px);
        margin-bottom: calc(var(--base-size-xl) * 3 - 3px); /*45px;*/
    }
    .production-card img {
        width: 100%;
    }
    .production-card__text {
        font-size: 15px;
    }
    .production-button {
        padding: calc(var(--base-size-l) + 2px) calc(var(--base-size-xl) * 2 - 8px); /*14px 32px;*/
    }
    .button-o {
        padding: calc(var(--base-size-xl) - 1px) calc(var(--base-size-xl) * 2 - 4px); /*15px 36px;*/
    } 
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    #production {
        padding: 60px 0 30px 0;
    }
    .production-text__goods::after {
        display: none;
    }
    .production-wraper {
        justify-content: center;
        padding: 0 29px 0 29px;
    }
    .production-card {
        flex-basis: auto;
        margin-bottom: calc(var(--base-size-xl) * 3 - 3px); /*45px;*/
        /* width: 100%;
        height: auto; */
    }
    .production-card img {
        width: calc(var(--base-size-xl) * 25); /*400px;*/
        margin-left: calc(var(--base-size-xl) * 3 + 11px); /*59px;*/
    }
    .production-card__text {
        font-size: 18px;
        margin-bottom: calc(var(--base-size-xl) - 1px); /*15px;*/
    }
    .production-button {
        padding: calc(var(--base-size-l) + 2px) calc(var(--base-size-xl) * 3 + 14px); /*14px 62px;*/
    }
    .button-o {
        padding: calc(var(--base-size-xl) - 1px) calc(var(--base-size-xl) * 5 + 11px); /*15px 91px;*/
    } 
}
@media screen and (min-width: 425px) and (max-width: 575.98px) {
    #production {
        padding: 60px 0 30px 0;
    }
    .production-text__goods {
        font-size: 22px;
    }
    .production-text__goods::after {
        display: none;
    }
    .production-wraper {
        justify-content: center;
        padding: 0 25px 0 25px;
    }
    .production-card {
        flex-basis: auto;
        margin-bottom: calc(var(--base-size-xl) * 3 - 3px); /*45px;*/
    }
    .production-card__img {
        width: 100%;
        height: auto;
    }
    .production-card__text {
        font-size: 20px;
    }
    .production-button {
        padding: calc(var(--base-size-l) + 2px) calc(var(--base-size-xl) * 2 - 8px); /*14px 32px;*/
    }
    .button-o {
        padding: calc(var(--base-size-l) + 3px) calc(var(--base-size-xl) * 2 - 5px); /*15px 50px;*/
    } 
}
@media screen and (min-width: 375px) and (max-width: 424.98px) {
    #production {
        padding: 60px 0 30px 0;
    }
    .production-text__goods {
        font-size: 22px;
    }
    .production-text__goods::after {
        display: none;
    }
    .production-wraper {
        justify-content: center;
        padding: 0 25px;
    }
    .production-card {
        flex-basis: auto;
        margin-bottom: calc(var(--base-size-xl) * 3 - 3px); /*45px;*/
    }
    .production-card__img {
        width: 100%;
        height: auto;
    }
    .production-card__text {
        font-size: 18px;
    }
    .production-card img {
        width: calc(var(--base-size-xl) * 22 + 8px); /*360px;*/
        margin-right: calc(var(--base-size-m) + 2px); /*10px;*/
    }
    .production-button {
        padding: var(--base-size-l) calc(var(--base-size-l) * 2 - 4px); /*14px 23px;  */
    }
    .button-o {
        padding: calc(var(--base-size-l) + 1px) calc(var(--base-size-xl) * 2 - 10px); /*15px 34px;*/
    }
}
@media screen and (min-width: 320px) and (max-width: 374.98px) {
    #production {
        padding: 60px 0 30px 0;
    }
    .production-text__goods {
        font-size: 22px;
    }
    .production-text__goods::after {
        display: none;
    }
    .production-wraper {
        justify-content: center;
        padding: 0 14px;
    }
    .production-card {
        flex-basis: auto;
        margin-bottom: calc(var(--base-size-xl) * 2 + 3px); /*35px;*/
    }
    .production-card__img {
        width: 100%;
        height: auto;
    }
    .production-card__text {
        font-size: 18px;
    }
    .production-card img {
        width: calc(var(--base-size-xl) * 18 + 12px); /*300px;*/
    }
    .production-button {
        padding: var(--base-size-l) calc(var(--base-size-xl) + 6px); /*12px 22px;*/
        font-size: 14px;
    }
    .button-o {
        padding: calc(var(--base-size-l) + 1px) calc(var(--base-size-l) * 2 + 1px); /*13px 25px;*/
    }
}

/* КОНЕЦ БЛОКА МЕДИАЗАПРОСОВ .PRODUCTION*/