#contacts {
    position: relative;
    background: #f4f4f4;
}

#contacts-map {
    width: 100%;
    height: calc(var(--base-size-xl) * 34 + 6px); /*550px;*/
}

.contacts-title {
    display: none;
}

.contacts-item {
    position: absolute;
    background: #fff;
    padding: 33px 40px 39px 58px;
    width: calc(var(--base-size-xl) * 19 + 11px); /*315px;*/
    height: calc(var(--base-size-xl) * 24 + 6px); /*390px;*/
    top: 15%;
    left: 12%;
    z-index: 1;
}

.contacts-item__adress {
    position: relative;
    margin-bottom: calc(var(--base-size-xl) * 2 - 1px); /*31px;*/
}

.contacts-item__adress::before {
    position: absolute;
    content: url(./images/contacts/geo_dot_icon.png);
    left: -33px;
    top: var(--base-size-s); /*4px;*/
}

.contacts-item__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: var(--main-text-color);
}

.contacts-item__subtitle {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

.contacts-item__phone {
    position: relative;
    margin-bottom: calc(var(--base-size-xl) - 2px); /*14px;*/
}

.contacts-item__phone::before {
    position: absolute;
    content: url(./images/contacts/cell_icon.png);
    left: -33px;
    top:  var(--base-size-s); /*4px;*/
}

.contacts-item__button {
    margin-bottom: calc(var(--base-size-l) * 2 + 1px); /*25px;*/
}

.contacts-button {
    padding: var(--base-size-l) calc(var(--base-size-l) * 2 + 4px); /*12px 28px;*/
    background-color: var(--button-bgcolor);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: var(--main-title-text-color);
    border: none;
    cursor: pointer;
    border-radius: var(--main-border-radius);
}

.contacts-button:focus {
    outline: none;
    background: var(--button-bgcolor-pressed);
}

.contacts-button:hover {
    background: var(--button-bgcolor-hover);
}

.contacts-item__mail {
    position: relative;
}

.contacts-item__mail::before {
    position: absolute;
    content: url(./images/contacts/mail_icon.png);
    left: -33px;
    top: var(--base-size-s); /*4px;*/
}

#contacts a {
    text-decoration: none;
    color: var(--main-text-color);
}

.contacts-item__subtitle:hover {
    color:  #ff9d00;
}

/* НАЧАЛО БЛОКА МЕДИАЗАПРОСОВ .CONTACTS*/

@media screen and (min-width: 1024px) and (max-width: 1198.98px) {

    .contacts-item {
        left: 80px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1023.98px) {

    .contacts-item {
        left: 64px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {

    #contacts {
        background: var(--main-bgcolor);
    }

    .contacts-item {
        margin-bottom: 28px;
    }

    .contacts-map {
        margin-bottom: calc(var(--base-size-l) + 2px); /*14px;*/
    }

    .contacts-item {
        position: relative;
        left: 0;
        top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        width: 100%;
        text-align: center;
    }

    .contacts-title {
        display: block;
        margin-bottom: calc(var(--base-size-xl) + 3px); /*19px;*/
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
        color: #313131;
        text-transform: uppercase;
    }

    .contacts-item__adress::before,
    .contacts-item__phone::before,
    .contacts-item__mail::before {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 767.98px) {

    #contacts {
        background: var(--main-bgcolor);
    }

    .contacts-item {
        margin-bottom: 28px;
    }

    .contacts-map {
        margin: 0 auto;
        margin-bottom: calc(var(--base-size-l) + 2px); /*14px;*/
        width: 90%;
        height: calc(var(--base-size-xl) * 26 + 4px); /*420px;*/
    }

    .contacts-item {
        position: relative;
        left: 0;
        top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        width: 100%;
        text-align: center;
    }

    .contacts-title {
        display: block;
        margin-bottom: calc(var(--base-size-xl) + 3px); /*19px;*/
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
        color: #313131;
        text-transform: uppercase;
    }
    
    .contacts-item__adress::before,
    .contacts-item__phone::before,
    .contacts-item__mail::before {
        display: none;
    }
}
/* КОНЕЦ БЛОКА МЕДИАЗАПРОСОВ .CONTACTS  */